<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
<%= image_tag @picture.url %>
</p>

<p>
  <strong>Youtube URL:</strong>
  <%= @album.url %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
