<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
<img src="<%= @album.image %>">
<%= image_tag @album.image %>
</p>

<p>
  <strong>Listen on Youtube:</strong>
  <%= @album.url %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
