<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
<%= image_tag @album.image.url %>
</p>

<p>
  <strong>Listen on Youtube:</strong>
  <%= @album.url %>
</p>

<%#= link_to 'Edit', edit_users_album_path(@album) %>
<%= link_to 'Back', users_albums_path %>
